<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login_style.css' %}">
</head>
<body>
<form action="/admin_system/index/" method="post">
    {% csrf_token %}
    <p><label style="color: white">username:</label><input name="user"/></p>
    <p><label style="color: white">password:</label><input name="pwd"/></p>
    <div class="button-container">
        <input type="submit" value="登录">
    </div>
</form>
</body>
</html>