<!DOCTYPE html>
<html>
<head>
    <title>学生管理</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/spect_student.css' %}">
</head>
<body>
    <h1>学生管理</h1>

    <div class="add-button">
        <a href="{% url 'add_student' %}" style="background-color: #007bff; color: white; border: none; padding: 5px 10px; text-align: center; text-decoration: none; display: inline-block; cursor: pointer; border-radius: 4px;">添加学生</a>
    </div>

    <table>
        <tr>
            <th>学号</th>
            <th>姓名</th>
            <th>入学时间</th>
            <th>专业</th>
            <th>奖惩情况</th>
            <th>操作</th>
        </tr>
        {% for student in students %}
        <tr>
            <td>{{ student.student_id }}</td>
            <td>{{ student.name }}</td>
            <td>{{ student.enrollment_data }}</td>
            <td>{{ student.major }}</td>
            <td>{{ student.awards_and_punishments }}</td>
            <td>
                <a href="{% url 'edit_student' student.student_id %}" class="edit-button">修改</a> |
                <a href="{% url 'delete_student' student.student_id %}" class="delete-button">删除</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">暂无学生信息</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>